
# APP CONFIG
PORT=5000
NODE_ENV=development
# TYPEORM CONFIG
TYPEORM_CONNECTION=postgres
TYPEORM_ENTITIES=src/models/*.ts
TYPEORM_URL=postgresql://pg:development@<YOUR DOKER MACHINE HOST>:5001/app/development
TYPEORM_SCHEMA=app/development
TYPEORM_LOGGING=true
TYPEORM_SYNCHRONIZE=true
# SECURITY
SECRET_KEY_SIZE=16
TOKEN_LIFETIME="1h"
BCRYPT_SALT_LEN=10
PASSWORD_MIN_LEN=8
PASSWORD_MAX_LEN=100
PASSWORD_HAS_UPPERCASE=true
PASSWORD_HAS_LOWERCASE=true
PASSWORD_HAS_DIGITS=true
PASSWORD_HAS_SPACES=false
